version: '3.8'
services:
  stock-sync:
    container_name: stock_sync
    build: .
    environment:
      MYSQL_USER: root
      MYSQL_PASSWORD: InsightOne123456
      MYSQL_HOST: mysql
      MYSQL_DB: stock_db_qfq
    volumes:
      - ./code.csv:/app/code.csv:ro
      - ./logs:/app/logs  # 宿主机 logs 目录挂载到容器
    restart: unless-stopped
    networks:
      - public_net

networks:
  public_net:
    external: true