version: '3.8'
services:
  mysql:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: InsightOne123456
      MYSQL_DATABASE: stock_db
    ports:
      - "3306:3306"

volumes:
  mysql_data: