version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    volumes:
      - ./mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: InsightOne123456
      MYSQL_DATABASE: stock_db
    ports:
      - "3306:3306"
    networks: # 加入网络配置
      - public_net

volumes:
  mysql_data:

networks: # 声明使用外部网络
  public_net:
    external: true